module <%= plugin_module_name %>
  module EntityDefinitions

    class <%= plugin_module_name %>Entity < PowerStencil::SystemEntityDefinitions::ProjectEntity

      entity_type :<%= plugin_name %>_entity

      buildable_by :<%= plugin_name %>

    end

  end
end
