module <%= plugin_module_name %>

  class Processor

    include Climatic::Script::UnimplementedProcessor
    include Climatic::Proxy
    include PowerStencil::Project::Proxy


    def execute
      hello_message = '<%= main_entry_point.upcase %> PLUGIN WAZ HERE !!'
      # You have full access to the configuration and command line options within the plugin !
      hello_message = 'HI, ' + hello_message if config[:hello]
      puts hello_message
    end


  end


end
